* {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
  padding: 0;
  margin: 0;
}

.container {
  width: 1280px;
  height: 720px;
  background-image: url("../assets/bg-gradient.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.left-panel {
  float: left;
}

.right-panel {
  float: right;
}

header {
  top: 1px;
  left: 5px;
  position: absolute;
}

/*.game {
  top: 5.25vh;
  width: 90.4vw;
  height: 92.6vh;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
}*/

footer {
  top: 98vh;
  left: 5px;
  position: absolute;
}

h2 {
  font-size: 26px;
}

.webcam, .chat, .couch {
  top: 0;
  right: 9px;
  width: 17.8vw;
  position: absolute;
  float: right;
}

.webcam {
  top: 6vh;
  height: 23vh;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.0);
}

.chat {
  top: 30vh;
}

.chatbox {
  width: 18.4vw;
  height: 24vh;
  margin-left: -4px;
}

.couch {
  top: 60vh;
}

.couch-img {
  float: right;
  width: 19vw;
  margin: -6px;
  position: absolute;
}

.streamers-text {
  margin-top: -4.3vh;
  width: 17.8vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  text-align: center;
  position: absolute;
}

.streamers-header {
  font-size: 24px;
  margin-bottom: 2vh;
}

.streamers {
  font-size: 26px;
}
